<p class="notice"><%= flash[:notice] %></P>
<p class="book_details">Title:<a><%= @book.title %></a></p>
<p class="book_details">Body:<a><%= @book.body %></a></p>
<%= link_to "Edit", edit_book_path %>|<%= link_to "Back", '/books' %>