<p class="notice"><%= flash[:notice] %></P>
<div class="book_details">Title:<p class="content"><%= @book.title %></p></div>
<div class="book_details">Body:<p class="content"><%= @book.body %></p></div>
<%= link_to "Edit", edit_book_path(@book) %> | <%= link_to "Back", books_path %>